.sidebar-items {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 22px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  justify-content: space-between;

  .user-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      height: 50px;
      background-color: #0088f7;
      padding: 12px 15px 8px 15px;
      border-radius: 8px;
      color: white;
      display: flex;
      align-items: center;
      overflow: hidden;

      .icon_color {
        color: #4f68c7;
        padding-bottom: 3px;
      }

      &:hover {
        background-color: #f1f5f9;
        color: #0088f7;

        .icon_color {
          color: white;
        }
      }
    }
  }

  .action-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .btn {
      width: 100%;
    }
  }

  .item-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;

  }

  .item-avatar-active {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
  }
}